/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #242424;
}

/* Separate divs for the table and buttons */
.table-container,
.buttons-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px; /* Set a maximum width for larger screens */
  margin: 0 auto 20px;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 3px solid black;
  padding: 0; /* Set padding to 0 to ensure cells remain square */
  text-align: center;
  width: 50px; /* Set the width and height of cells to a fixed size for mobile view */
  height: 50px;
  font-size: 15px; /* Reduce the font size for mobile view */
}

th {
  background-color: #f2f2f2;
}

/* Input and button styles */
input[type="text"] {
  width: 50%; /* Set the width of input fields to fill the container */
  padding: 8px;
  margin-bottom: 6px;
  border: 3px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #d4af37;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

a {
  text-decoration: none;
}

button:hover {
  background-color: #e64a19;
}

button:active {
  background-color: #3e8e41;
}

/* Responsive adjustments for small screens (e.g., Android phones) */
@media only screen and (max-width: 600px) {
  .table-container,
  .buttons-container {
    max-width: 100%; /* Set a full width for smaller screens to make it fit perfectly */
  }

  th,
  td {
    width: 30px; /* Adjust the cell size for smaller screens */
    height: 30px;
    font-size: 10px; /* Further reduce the font size for smaller screens */
  }

  input[type="text"] {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }

  button {
    font-size: 14px; /* Adjust the button font size for smaller screens */
  }
}



